*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f6f8f9;
}

header div {
    
    background-color:  white;
    padding: 10px;
    

}

header div img{
    background-color: white;
}

header strong {
    font-size: 40px;
    background-color: white;
    
    
}

