*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f6f8f9;
    font-family: 'Roboto', sans-serif;
}

.logo,b{
    
    background-color:  white;
    background-size: 350px;
    height: 90px;

    font-size: 55px;
    vertical-align: middle;
    
    
    
    }

img{
    background-color: white;
    height: 70px;
    vertical-align: middle;
}

main,div{
    border-radius: 7px;
    height: 700px;
    margin:0 auto;
    width: 80%;
    margin-top: 50px;
    background-color: white;
}

 button {
    background-color:#47ADF1; 
    border: none;
    border-radius: 12px;
    color: white;
    padding: 8px 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 25px 50px
} 

#section{
    margin-left: -45px;
    background-color:lightgrey;
}

hr {
   border:solid #f6f8f9;
}

h2{

    background-color: white;
    margin: 15px;
    font-size: 30px;
}

p{

    background-color: white;
    margin: 15px;
    font-size: 20px;
    vertical-align: middle
   
}

.tick-within-circle {
    position: absolute;
    width: 25px;
    height: 25px;
    
    
    text-align: center;
    
    
    border: 2px solid green;
    border-radius: 50%;
    display: inline-block;
  }
  
  .tick-within-circle::before {
    content: '\2713';
    position:absolute;
    top: -30px;
    left: -35px;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: green;
    
  }