*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f6f8f9;
    font-family: 'Roboto', sans-serif;
}
.logo,b{
    background-color:  white;
    padding: 10px 0 10px 20px;
    font-size: 55px;
    vertical-align: middle;
    height: 100px;
    }
img{
    background-color: white;
    height: 70px;
    vertical-align: middle;
}
main,div{
    border-radius: 7px;
    height: 700px;
    margin:30px auto 0 auto;
    width: 80%;
    margin-top: 50px;
    background-color: white;
}
 button {
    background-color:#47ADF1;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 8px 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 25px 50px
}
#section{
    margin-left: -45px;
    background-color:lightgrey;
}
hr {
   border:solid #F6F8F9;
}
ul{
    list-style-type: none;
    line-height: 140%;
    background-color: white;
}
li{
    background-color:  white;
}
h3{
    background-color:  white;
}
.inner-list{
    margin-left: 1em;
    font-size: 20px;
}
ul li h3::before{
    content: "\25BE";
}
li.checked::before {
    content: "\2713";
    font-size: 12px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 2px 5px;
    margin-right: 10px;
}
li.cross::before {
    content: "\292B";
    font-size: 12px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2px 5px;
    margin-right: 10px;
}
li.eti::after{
    content: "";
    padding: 6px 10px;
    margin-right: 10px;
    color: white;
    font-size: 12px;
}

li.eti.blu::after{
    content: "Editorial";
    background-color:#45ABEA;
    border-radius: 15px;
}

li.eti.vio::after{
    content: "Q1 Goals";
    background-color:#9C72E4;
    border-radius: 15px;
}

li.eti.green::after{
    content: "Q1 Goals";
    background-color:#9C72E4;
    border-radius: 15px;
}